<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
            text-align: center;
        }
        #h1 {
            color: #333;
        }
        h2 {
            margin-top: 20px;
            color: #777;
        }
    </style>
</head>
<body>
    <h1 id="h1">Home</h1>

    <h2>Hello {{ name }}</h2>
</body>
</html>
